html,body{
    height: 100%;
  }
  .container{
      min-height: 100%;
  }
      a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover, a:active {
    color: #008489;
  }
  .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }
  /* nav{
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        padding:0px 20px;
      } */
  .navbar{
      position: fixed;
        background: rgba(0, 0, 0, 0.2);
        padding:0px 40px;
  }
  .navbar-light .navbar-brand {
    color:black;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-toggler {
    background: white;
  }
  
  .navbar-nav {
    text-align: center;
    
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: rgba(0, 0, 0, 0.2);;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.2);;
  }
  
  .navbar li a:hover{
        background:white;
      }
    
      .footer {
    margin-top: -50px;
    background: black;
    color: #d3d3d3;
    height: 401px;
    position: relative;
  }
  
  .footer .footer-bottom {
    color: #686868;
    border-top: 1px solid #333333;
    background: #343a40;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
  }
  
  .footer .footer-content {
    height: 351px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
  }
  
  
  .footer .footer-content .social {
    margin-top: 30px;
  }
  
  .footer .footer-content .social a {
    border: 1px solid gray;
    font-size: 1.3em;
    display: inline-block;
    width: 35px;
    padding: 6px 4px;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .footer .footer-content .social a:hover {
    color: white;
    border: 1px solid white;
    transition: all .5s;
  }
  
  .footer .footer-content .quick-links a {
    display: block;
    margin-top: 10px;
    font-size: 1.1em;
    transition: all 0.25s;
  }
  
  .footer .footer-content .quick-links a:hover {
    color: white;
    padding-left: 10px;
    transition: all 0.25s;
  }
  
  .footer .footer-content .footer-section h2 {
    color: #f0ecec;
  }
  .modal-body{
      color:black;
  }
  .modal-header{
      color:black;
  }
  
  
  .align-center {
      text-align: center;
  }
  .hash-list {
      display: block;
      padding: 0;
      margin: 0 auto;
  }
  
  @media (min-width: 768px){
      .hash-list.cols-3 > li:nth-last-child(-n+3) {
          border-bottom: none;
      }
  }
  @media (min-width: 768px){
      .hash-list.cols-3 > li {
          width: 33.3333%;
      }
  }
  .hash-list > li {
      display: block;
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .pad-30, .pad-30-all > * {
      padding: 30px;
  }
  img {
      border: 0;
  }
  .mgb-20, .mgb-20-all > * {
      margin-bottom: 20px;
  }
  .wpx-100, .wpx-100-after:after {
      width: 100px;
  }
  .img-round, .img-rel-round {
      border-radius: 50%;
  }
  .padb-30, .padb-30-all > * {
      padding-bottom: 30px;
  }
  
  .mgb-40, .mgb-40-all > * {
      margin-bottom: 40px;
  }
  .align-center {
      text-align: center;
  }
  [class*="line-b"] {
      position: relative;
      padding-bottom: 20px;
      border-color: #E6AF2A;
  }
  .fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
      color: #222;
  }
  .font-cond-b {
      font-weight: 700 !important;
  }
  
  @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
  #team {
      background: #eee !important;
  }
  
  .btn-primary:hover,
  .btn-primary:focus {
      background-color: #108d6f;
      border-color: #108d6f;
      box-shadow: none;
      outline: none;
  }
  
  .btn-primary {
      color: #fff;
      background-color: #007b5e;
      border-color: #007b5e;
  }
  
  section {
      padding: 60px 0;
  }
  
  section .section-title {
      text-align: center;
      color: #007b5e;
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
  #team .card {
      border: none;
      background: #ffffff;
  }
  
  .image-flip:hover .backside,
  .image-flip.hover .backside {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      border-radius: .25rem;
  }
  
  .image-flip:hover .frontside,
  .image-flip.hover .frontside {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .mainflip {
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -ms-transition: 1s;
      -moz-transition: 1s;
      -moz-transform: perspective(1000px);
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
      position: relative;
  }
  
  .frontside {
      position: relative;
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      z-index: 2;
      margin-bottom: 30px;
  }
  
  .backside {
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
      box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  }
  
  .frontside,
  .backside {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
      -moz-transition: 1s;
      -moz-transform-style: preserve-3d;
      -o-transition: 1s;
      -o-transform-style: preserve-3d;
      -ms-transition: 1s;
      -ms-transform-style: preserve-3d;
      transition: 1s;
      transform-style: preserve-3d;
  }
  
  .frontside .card,
  .backside .card {
      min-height: 312px;
  }
  
  .backside .card a {
      font-size: 18px;
      color: #007b5e !important;
  }
  
  .frontside .card .card-title,
  .backside .card .card-title {
      color: #007b5e !important;
  }
  
  .frontside .card .card-body img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }